@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

body {
  color: white;

  background-color: #310c4e;
}
.red-color {
  color: red;
}

a {
  color: white;
}

.div-1 {
  font-family: Lato;
  background-color: #7a44a3;
  border: 2px solid;
  padding: 20px;
  margin: 20px 30px;
  text-align: center;
}

li {
  text-align: center;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.my-cat{
  width: 300px;
  border: 10px groove white;
  margin: 20px;
}